<!doctype html>
<html>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<head>
{% block head %}
<style>
.content {
    max-width: 1000px;
    text-align: center;
    margin: auto;
    background-color: lightblue;
}
</style>
{% endblock %}
</head>
<title>MysticWeb - {% block title %}{% endblock %}</title>
<body class="content">
<header>
{% block header %}
<h1><a href="/"><img src="/static/logo.png" alt="logo"
                     style="max-width:100px;max-height:100px;width:auto;height:auto;">
    Mystic Web Portal</a></h1>
{% endblock %}
</header>
<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">
{% block footer %}
Copyright Ben Avrahami. MIT License <a href="/src">source</a>. <a href="\about">about</a>
{% endblock %}
</div>
</body>
</html>